[alias]
	#  check  =====
	h = help
	la = config --get-regexp alias
	s = status
	df = diff --color --color-words --abbrev
	l = log --pretty=oneline -n 20 --graph --abbrev-commit # View abbreviated SHA, description, and history graph of the latest 20 commits
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	rem = remote -v
	#  do   =====
	up = pull
	p = push
	co = checkout
	c = commit -m #...
	ca = commit -am #...
	cam = commit --amend -C HEAD # update last commit
	b = branch
	bc = checkout -b
	bd = branch -d
	bdf = branch -D
	#  undo =====
	r = reset --hard HEAD
	rv = revert HEAD
	wtf = blame --date local

	# Show verbose output about tags
	tags = tag -l

	# Amend the currently staged files to the latest commit
	amend = commit --amend --reuse-message=HEAD

	# Remove the old tag with this name and tag the latest commit with it.
	retag = "!r() { git tag -d $1 && git push origin :refs/tags/$1 && git tag $1; }; r"

	# List contributors with number of commits
	contributors = shortlog --summary --numbered

[color]
	ui = always
[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	editor = subl -w
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[diff]
	tool = sublimerge
[merge]
	log = true
	tool = sublimerge
[url "git@github.com:"]
	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
	insteadOf = "github:"
[url "git@gist.github.com:"]
	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
	insteadOf = "gist:"
[difftool "sublimerge"]
	cmd = subl -n --wait \"$REMOTE\" \"$LOCAL\" --command \"sublimerge_diff_views {\\\"left_read_only\\\": true, \\\"right_read_only\\\": true}\"
[mergetool "sublimerge"]
	cmd = subl -n --wait \"$REMOTE\" \"$BASE\" \"$LOCAL\" \"$MERGED\" --command \"sublimerge_diff_views\"
	trustExitCode = false
[difftool]
	prompt = false
	prompt = false
[user]
	name = ""
	email = "(none)"
